.link-socials {
  @extend %flexbox;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: background-color $cubic;

  &:hover,
  &:focus {
    background-color: $accent-focus-color;
  }

  &:hover .svg-socials,
  &:focus .svg-socials {
    fill: $white-text-color;
  }
}

.svg-socials {
  width: 20px;
  height: 20px;
  fill: $svg-color;
  transition: fill $cubic;
}
